<template>
  <div>
        <table id="customers">
          <thead>
            <tr>
              <th v-for="col in columns">{{col.toUpperCase()}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in tableData">
              <td v-for="col in columns">{{row[col]}}</td>
            </tr>
          </tbody>
        </table>

        
          <ul>
            <li v-for="message in received_messages">{{message}}</li>
          </ul>
        
        

        <button @click.prevent="logOut">Logout</button>

    </div>

    

    
</template>

<script>
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";


export default {
    data () {
        return {
            token : "",
            tableData: [],
            loggedUser : {},
            loggedId: "",
            userRole: "",
            connected : false,
            received_messages: [],
            message : "",
            
        }
    },
    methods: {
       connect() {
         this.socket = new SockJS('http://localhost:8081/socket')
         this.stompClient = Stomp.over(this.socket);
         this.stompClient.connect(
         {},
         frame => {
          this.connected = true;
          console.log("LoggedId" + this.loggedId);
          this.stompClient.subscribe("/chat/" + this.loggedId , tick => {
            console.log("TickBody : " + tick.body);
            this.message = tick.body
            this.addEl(tick.body);
            console.log(this.received_messages)
          });
        },
        error => {
          console.log(error);
          this.connected = false;
        }
      );
       },
       disconnect() {
          if (this.stompClient) {
            this.stompClient.disconnect();
          }
          this.connected = false;
        },
        tickleConnection() {
          this.connected ? this.disconnect() : this.connect();
        },
        logOut: function() {
        console.log('da')
        localStorage.removeItem('token');
        localStorage.removeItem('loggedId');
        localStorage.removeItem('userRole');
        this.$router.push('/login');
        },
        addEl: function(el) {
          if(!this.received_messages.includes(el)){
            this.received_messages.push(el)
          }
        }
    },

    created: function() {
        this.token = localStorage.getItem('token')
        const auth = {
            headers: { Authorization: "Bearer " + this.token }
        };
        console.log(auth);
        this.loggedId = localStorage.getItem('loggedId');
        
        console.log(this.token + 'token');
        this.$http
            .get('http://localhost:8081/user/caregiver/patients/' + this.loggedId, auth)
            .then(function(data) {
            console.log(data);
            this.tableData = data.body
            });

        this.connect();
    },

    computed: {
        columns: function columns() {
        console.log(this.loggedId + 'hihi');
        if (this.tableData.length == 0) {
            return [];
        }
        
        return Object.keys(this.tableData[0]);
        },
        
    },
    mounted() {
    if (localStorage.loggedId) 
      this.loggedId = localStorage.loggedId;
    if(localStorage.token) 
      this.token = localStorage.token;
    if(localStorage.userRole)
      this.userRole = localStorage.userRole;
    this.connect();
    },
}
</script>

<style scoped>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 30px 30px 20px 350px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
  margin: 0px 10px 10px 10px;
}

#customers tr:hover {
  background-color: #ddd;
}

protoc --js_out=import_style=commonjs,binary:src/ --grpc-web_out=import_style=commonjs,mode=grpcwebtext:Hello.proto

protoc --proto_path=todo --js_out=import_style=commonjs,binary:todo-client/src/ --grpc-web_out=import_style=commonjs,mode=grpcwebtext:todo-client/src/ todo/todo.proto

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li{
  font-size: 20px ;
  color:white;
  background-color: red;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
}
</style>
