<template>
   <p>{{currentTime}}</p>
</template>

<script>
import moment from 'moment'

export default {
 data() { return {
    currentTime: null
    }
  },
  methods: {
    updateCurrentTime() {
      this.currentTime = moment().format('LTS');
    }
  },
  created() {
    this.currentTime = moment().format('LTS');
    setInterval(() => this.updateCurrentTime(), 1 * 1000);
  }
}
</script>

<style scoped>
</style>
